<%= erb(:header, :layout => false) %>

<%= erb :sidebar %>

<div id="content">
<% if @flash %>
  <div id="flash">
    <%= @flash %>
  </div>
<% end%>
<% if @posts.nil?%>
<h1>Sorry!</h1>
<p>There are no posts or pages to display at this very moment. A bunch of monkeys are writing stuff at the moment, anyway.</p>
<% else %>
<% @posts.each do |post| %>
  <% @post = post %>
	<%= erb :page, :layout=>false%>
<% end %>
<% end%>
<table width=100%>
<% if @page > 1 %>
	<td align="left"><a href="<%= @page_prefix + (@page - 1).to_s%>">Prev page</a></td>
<% end %>

	<% if @page < @post_amount.to_f / 10 %>
		<td align="right"><a href="<%= @page_prefix  + (@page + 1).to_s%>">Next page</a></td>
	<% end %>
	</table>
</div>



<% if @show_comments %>
	<% if @post_amount > 1 %>
	<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
		if(links[i].href.indexOf('#disqus_thread') >= 0) {
			query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
		}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/marcseeger/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	</script>
	<%else%>
	<script type="text/javascript" src="http://disqus.com/forums/marcseeger/embed.js"></script>
	<% end %>
<% end %>
<%= erb(:footer, :layout => false) %>
