<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
<title>Marc's Blog</title>
<description>Personal Blog of Marc Seeger</description>
<language>en-us</language>
<copyright>Marc Seeger</copyright>
<link>http://blog.marc-seeger.de</link>
<lastBuildDate><%= @recent_posts.first.date_created.rfc822 %></lastBuildDate>
<pubDate><%= @recent_posts.first.date_created.rfc822 %></pubDate>

<% @recent_posts.each do |post| %>
<item>
<title><%= post.title %></title>
<author>mail@marc-seeger.de (Marc Seeger)</author>
<description><![CDATA[<%= post.body_html %>]]></description>
<link><%= post.date_created.strftime('/%Y/%m/%d/') + post.slug%></link>
<guid isPermaLink="true">http://blog.marc-seeger.de<%= post.date_created.strftime('/%Y/%m/%d/') + post.slug%></guid>
<pubDate> <%= post.date_created.rfc822 %></pubDate>
</item>
<% end %>

</channel>
</rss>
