<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
<title><%= Configuration[:site_title] %></title>
<description><%= Configuration[:site_description] %></description>
<language>en-us</language>
<copyright><%= Configuration[:site_author] %></copyright>
<link><%= Configuration[:site_url] %></link>
<lastBuildDate><%= @recent_posts.first.date_created.rfc822 %></lastBuildDate>
<pubDate><%= @recent_posts.first.date_created.rfc822 %></pubDate>

<% @recent_posts.each do |post| %>
<item>
<title><%= post.title %></title>
<author><%= Configuration[:site_author] %></author>
<description><![CDATA[<%= post.body_html %>]]></description>
<link><%= post.date_created.strftime('/%Y/%m/%d/') + post.slug%></link>
<guid isPermaLink="true"><%= Configuration[:site_url] %><%= post.date_created.strftime('/%Y/%m/%d/') + post.slug%></guid>
<pubDate> <%= post.date_created.rfc822 %></pubDate>
</item>
<% end %>

</channel>
</rss>
